@import './../js/fontawesome-free-5.15.4-web/css/all.css';
@import './../js/bootstrap-5.0.2-dist/css/bootstrap.css';

* {
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
}
