@import './../js/fontawesome-free-5.15.4-web/css/all.css';
@import './../js/bootstrap-5.0.2-dist/css/bootstrap.css';

* {
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  box-sizing: border-box;
}

.page-link.active {
  background-color: #eaeaea;
}

.page-link {
  white-space: nowrap;
}
.page-link,
table thead th {
  cursor: pointer;
  color: #1aebb6 !important;
}

table td {
  white-space: nowrap;
}

table tbody tr:hover {
  transition: 0.4s;
  cursor: pointer;
  background-color: #eaeaea;
}

.options-table {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.options-table label {
  margin-right: 5px;
  cursor: pointer;
}

.min-row.table_c {
  width: 65vw;
  overflow-x: auto;
}

.options-table label:hover {
  color: #1aebb6;
}
